/* start header section */

/* end header section */

/* start What We Do section */

/* end What We Do section */



/* start Recent Project section */

.container{width: 1170px;margin: auto}

.recent{text-align: center;padding: 120px 0;font-family: sans-serif}

.recent .info{margin-bottom: 120px}

.recent .info span{text-transform:uppercase;color:#828282;font-size: 14px;letter-spacing:1px}

.recent .info h1{font-size: 55px}

.recent .info p{font-size: 19px;line-height: 1.6;color:#828282}

.recent .image {overflow: hidden}

.recent .image div{float: left;width: 31%;margin:0 1%}

.recent .image div img{max-width: 100%;}


/* end Recent Project section */

/* start Happy Clients section */

.clients{padding: 120px 0;background-color:#F2F2F2;font-family: sans-serif}

.clients .info{margin-bottom: 120px; text-align: center}

.clients .info span{text-transform:uppercase;color:#828282;font-size: 14px;letter-spacing:1px}

.clients .info h1{font-size: 55px}

.clients .testmonials
{
    overflow: hidden;
}
.clients .div1,
.clients .div2
{   
    float: left;
    width: 47%;
    margin-right:3%
}

.clients .div1 .content,
.clients .div2 .content
{   overflow: hidden;
    background-color: #fff;
    padding:3% 0 0 5%;
    margin-bottom: 55px;
}
.clients .div1 .content p,
.clients .div2 .content p
{
    width: 90%;
    line-height: 1.6;
    margin-left:10px;
    font-size: 19px;  
}

.clients .div1 .content .icon img,
.clients .div2 .content .icon img
{
    float: left;
    width:10%;
    margin-right:5%;
    border-radius:50%;
    max-width:100%;
    margin-bottom: 25px
}

.clients .div1 .content .text p,
.clients .div2 .content .text p
{
    color:#999;
    font-size: 14px;
    margin-top: 32px;    
}

/* end Happy Clients section */

.Fun-Facts{text-align: center;padding: 120px 0;font-family:sans-serif}

.Fun-Facts .info{margin-bottom: 120px}

.Fun-Facts .info span{text-transform:uppercase;color:#828282;font-size: 12px;letter-spacing:2px}

.Fun-Facts .info h1{font-size: 55px}

.Fun-Facts .info p{font-size: 19px;line-height: 1.6;color:#828282}

.Fun-Facts .Resume ul{list-style: none;display: inline-block;width:21%}

.Fun-Facts .Resume ul li:first-of-type{color:#0d9cee; font-size: 50px}

.Fun-Facts .Resume ul li:last-of-type
{text-transform: uppercase;color: #a3a3a3;margin-top: 30px;letter-spacing:2px}


/* start Fun Facts section */

/* end Fun Facts section */




/* start Our Blog section */

/* end Our Blog section */

/* start Your Project section */

/* end Your Project section */

/* start footer section */

/* end footer section */